<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mbg.mapper.XkjcEaryWarningConfigMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.mbg.model.XkjcEaryWarningConfig">
    <id column="bh" jdbcType="INTEGER" property="bh" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="depends_on" jdbcType="VARCHAR" property="dependsOn" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="metric_group_node_id" jdbcType="BIGINT" property="metricGroupNodeId" />
    <result column="metric_group_node_name" jdbcType="VARCHAR" property="metricGroupNodeName" />
    <result column="metric_id" jdbcType="VARCHAR" property="metricId" />
    <result column="metric_name" jdbcType="VARCHAR" property="metricName" />
    <result column="nf" jdbcType="VARCHAR" property="nf" />
    <result column="statistics_method" jdbcType="VARCHAR" property="statisticsMethod" />
    <result column="threshold" jdbcType="VARCHAR" property="threshold" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="warn_time" jdbcType="DATE" property="warnTime" />
    <result column="is_alert" jdbcType="INTEGER" property="isAlert" />
    <result column="is_exists" jdbcType="INTEGER" property="isExists" />
    <result column="yj_gcd_order" jdbcType="INTEGER" property="yjGcdOrder" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    bh, name, depends_on, code, metric_group_node_id, metric_group_node_name, metric_id, 
    metric_name, nf, statistics_method, threshold, type, warn_time, is_alert, is_exists, 
    yj_gcd_order, create_time, create_user, update_user, update_time
  </sql>
  <select id="selectByExample" parameterType="com.example.demo.mbg.model.XkjcEaryWarningConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xkjc_eary_warning_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xkjc_eary_warning_config
    where bh = #{bh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xkjc_eary_warning_config
    where bh = #{bh,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.mbg.model.XkjcEaryWarningConfigExample">
    delete from xkjc_eary_warning_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.mbg.model.XkjcEaryWarningConfig">
    <selectKey keyProperty="bh" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into xkjc_eary_warning_config (name, depends_on, code, 
      metric_group_node_id, metric_group_node_name, 
      metric_id, metric_name, nf, 
      statistics_method, threshold, type, 
      warn_time, is_alert, is_exists, 
      yj_gcd_order, create_time, create_user, 
      update_user, update_time)
    values (#{name,jdbcType=VARCHAR}, #{dependsOn,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{metricGroupNodeId,jdbcType=BIGINT}, #{metricGroupNodeName,jdbcType=VARCHAR}, 
      #{metricId,jdbcType=VARCHAR}, #{metricName,jdbcType=VARCHAR}, #{nf,jdbcType=VARCHAR}, 
      #{statisticsMethod,jdbcType=VARCHAR}, #{threshold,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{warnTime,jdbcType=DATE}, #{isAlert,jdbcType=INTEGER}, #{isExists,jdbcType=INTEGER}, 
      #{yjGcdOrder,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.mbg.model.XkjcEaryWarningConfig">
    <selectKey keyProperty="bh" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into xkjc_eary_warning_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="dependsOn != null">
        depends_on,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="metricGroupNodeId != null">
        metric_group_node_id,
      </if>
      <if test="metricGroupNodeName != null">
        metric_group_node_name,
      </if>
      <if test="metricId != null">
        metric_id,
      </if>
      <if test="metricName != null">
        metric_name,
      </if>
      <if test="nf != null">
        nf,
      </if>
      <if test="statisticsMethod != null">
        statistics_method,
      </if>
      <if test="threshold != null">
        threshold,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="warnTime != null">
        warn_time,
      </if>
      <if test="isAlert != null">
        is_alert,
      </if>
      <if test="isExists != null">
        is_exists,
      </if>
      <if test="yjGcdOrder != null">
        yj_gcd_order,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="dependsOn != null">
        #{dependsOn,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="metricGroupNodeId != null">
        #{metricGroupNodeId,jdbcType=BIGINT},
      </if>
      <if test="metricGroupNodeName != null">
        #{metricGroupNodeName,jdbcType=VARCHAR},
      </if>
      <if test="metricId != null">
        #{metricId,jdbcType=VARCHAR},
      </if>
      <if test="metricName != null">
        #{metricName,jdbcType=VARCHAR},
      </if>
      <if test="nf != null">
        #{nf,jdbcType=VARCHAR},
      </if>
      <if test="statisticsMethod != null">
        #{statisticsMethod,jdbcType=VARCHAR},
      </if>
      <if test="threshold != null">
        #{threshold,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="warnTime != null">
        #{warnTime,jdbcType=DATE},
      </if>
      <if test="isAlert != null">
        #{isAlert,jdbcType=INTEGER},
      </if>
      <if test="isExists != null">
        #{isExists,jdbcType=INTEGER},
      </if>
      <if test="yjGcdOrder != null">
        #{yjGcdOrder,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.mbg.model.XkjcEaryWarningConfigExample" resultType="java.lang.Integer">
    select count(*) from xkjc_eary_warning_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update xkjc_eary_warning_config
    <set>
      <if test="record.bh != null">
        bh = #{record.bh,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.dependsOn != null">
        depends_on = #{record.dependsOn,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.metricGroupNodeId != null">
        metric_group_node_id = #{record.metricGroupNodeId,jdbcType=BIGINT},
      </if>
      <if test="record.metricGroupNodeName != null">
        metric_group_node_name = #{record.metricGroupNodeName,jdbcType=VARCHAR},
      </if>
      <if test="record.metricId != null">
        metric_id = #{record.metricId,jdbcType=VARCHAR},
      </if>
      <if test="record.metricName != null">
        metric_name = #{record.metricName,jdbcType=VARCHAR},
      </if>
      <if test="record.nf != null">
        nf = #{record.nf,jdbcType=VARCHAR},
      </if>
      <if test="record.statisticsMethod != null">
        statistics_method = #{record.statisticsMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.threshold != null">
        threshold = #{record.threshold,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.warnTime != null">
        warn_time = #{record.warnTime,jdbcType=DATE},
      </if>
      <if test="record.isAlert != null">
        is_alert = #{record.isAlert,jdbcType=INTEGER},
      </if>
      <if test="record.isExists != null">
        is_exists = #{record.isExists,jdbcType=INTEGER},
      </if>
      <if test="record.yjGcdOrder != null">
        yj_gcd_order = #{record.yjGcdOrder,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update xkjc_eary_warning_config
    set bh = #{record.bh,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      depends_on = #{record.dependsOn,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      metric_group_node_id = #{record.metricGroupNodeId,jdbcType=BIGINT},
      metric_group_node_name = #{record.metricGroupNodeName,jdbcType=VARCHAR},
      metric_id = #{record.metricId,jdbcType=VARCHAR},
      metric_name = #{record.metricName,jdbcType=VARCHAR},
      nf = #{record.nf,jdbcType=VARCHAR},
      statistics_method = #{record.statisticsMethod,jdbcType=VARCHAR},
      threshold = #{record.threshold,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      warn_time = #{record.warnTime,jdbcType=DATE},
      is_alert = #{record.isAlert,jdbcType=INTEGER},
      is_exists = #{record.isExists,jdbcType=INTEGER},
      yj_gcd_order = #{record.yjGcdOrder,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.mbg.model.XkjcEaryWarningConfig">
    update xkjc_eary_warning_config
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="dependsOn != null">
        depends_on = #{dependsOn,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="metricGroupNodeId != null">
        metric_group_node_id = #{metricGroupNodeId,jdbcType=BIGINT},
      </if>
      <if test="metricGroupNodeName != null">
        metric_group_node_name = #{metricGroupNodeName,jdbcType=VARCHAR},
      </if>
      <if test="metricId != null">
        metric_id = #{metricId,jdbcType=VARCHAR},
      </if>
      <if test="metricName != null">
        metric_name = #{metricName,jdbcType=VARCHAR},
      </if>
      <if test="nf != null">
        nf = #{nf,jdbcType=VARCHAR},
      </if>
      <if test="statisticsMethod != null">
        statistics_method = #{statisticsMethod,jdbcType=VARCHAR},
      </if>
      <if test="threshold != null">
        threshold = #{threshold,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="warnTime != null">
        warn_time = #{warnTime,jdbcType=DATE},
      </if>
      <if test="isAlert != null">
        is_alert = #{isAlert,jdbcType=INTEGER},
      </if>
      <if test="isExists != null">
        is_exists = #{isExists,jdbcType=INTEGER},
      </if>
      <if test="yjGcdOrder != null">
        yj_gcd_order = #{yjGcdOrder,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where bh = #{bh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.mbg.model.XkjcEaryWarningConfig">
    update xkjc_eary_warning_config
    set name = #{name,jdbcType=VARCHAR},
      depends_on = #{dependsOn,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      metric_group_node_id = #{metricGroupNodeId,jdbcType=BIGINT},
      metric_group_node_name = #{metricGroupNodeName,jdbcType=VARCHAR},
      metric_id = #{metricId,jdbcType=VARCHAR},
      metric_name = #{metricName,jdbcType=VARCHAR},
      nf = #{nf,jdbcType=VARCHAR},
      statistics_method = #{statisticsMethod,jdbcType=VARCHAR},
      threshold = #{threshold,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      warn_time = #{warnTime,jdbcType=DATE},
      is_alert = #{isAlert,jdbcType=INTEGER},
      is_exists = #{isExists,jdbcType=INTEGER},
      yj_gcd_order = #{yjGcdOrder,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where bh = #{bh,jdbcType=INTEGER}
  </update>
</mapper>